name: Install
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/install.yml'
      - 'repo.json'
  pull_request:
    paths:
      - '.github/workflows/install.yml'
      - 'repo.json'
  schedule:
    # Every 10:42 JST
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '42 1 * * *'
  workflow_dispatch:

jobs:
  tasks:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          extra_nix_config: |
            sandbox = true
            accept-flake-config = true
      - run: |
          mkdir -p config-dir
          cat <<'JSON' >./config-dir/settings.json
            {
              "pluginrepos": ["https://raw.githubusercontent.com/kachick/micro-kdl/${{ github.sha }}/repo.json"]
            }
          JSON
      # NOTE: micro does not raise error even if given `-plugin wrong_option`, so should check in after steps
      - run: nix develop --command micro --config-dir config-dir -plugin install kdl
      - name: Make sure the plugin is correctly installed
        run: |
          tree config-dir
          ls -alh ./config-dir/plug/kdl
